<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangtao.dbhelper.binding.UserMapper">

  <resultMap id="BaseResultMap" type="com.wangtao.dbhelper.domian.User">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="username" property="username" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
    <result column="age" property="age" jdbcType="INTEGER"/>
    <result column="gender" property="gender"/>
    <result column="birthday" property="birthday" jdbcType="DATE"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
      id, username, password, age, gender, birthday, update_time
  </sql>

  <select id="findById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="count" resultType="int">
    select count(*) from user
  </select>

  <select id="findToMapById" resultType="map">
    select
    <include refid="Base_Column_List"/>
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findByIdAutoMapping" resultType="user">
    select
    <include refid="Base_Column_List"/>
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findByEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where age = #{age,jdbcType=INTEGER}
    and gender = #{gender}
  </select>

  <select id="findByMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where age = #{age,jdbcType=INTEGER}
    and gender = #{gender}
  </select>

  <select id="findAgeById" resultType="integer">
    select age
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findBirthdayById" resultType="java.time.LocalDate">
    select birthday
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert">
    insert into user (
      id, username, password, age, gender, birthday, update_time
    ) values (
      null, #{username}, #{password}, #{age}, #{gender}, #{birthday}, now()
    )
  </insert>

  <insert id="insertAndReturnKey" useGeneratedKeys="true" keyProperty="id">
    insert into user (
      id, username, password, age, gender, birthday, update_time
    ) values (
      null, #{username}, #{password}, #{age}, #{gender}, #{birthday}, now()
    )
  </insert>

  <delete id="delete">
    delete from user where id = #{id}
  </delete>

  <select id="findByAgeIn" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user WHERE age IN
    <foreach item="item" index="index" collection="list"
             open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>

  <select id="findByCondition" resultMap="BaseResultMap">
    SELECT
    id, username, password, age, gender, birthday, update_time
    FROM user
    <where>
      <if test="username != null">
        AND username = #{username}
      </if>
      <if test="password != null">
        AND password = #{password}
      </if>
    </where>
  </select>

</mapper>